
/*
░█▀▀░▀█▀░█▀█░█▀▄░█▀▄░█▀█░█▀▄
░█▀▀░░█░░█░█░█░█░█▀▄░█▀█░█▀▄
░▀░░░▀▀▀░▀░▀░▀▀░░▀▀░░▀░▀░▀░▀
 
The findbar
*/

#browser #appcontent #tabbrowser-tabbox findbar,
#browser #appcontent #tabbrowser-tabbox tabpanels {
	-moz-appearance: none !important;
	border: none !important;
}

#browser #appcontent #tabbrowser-tabbox findbar:-moz-lwtheme-darktext,
#browser #appcontent #tabbrowser-tabbox findbar:-moz-lwtheme-brighttext,
#browser #appcontent #tabbrowser-tabbox tabpanels:-moz-lwtheme-darktext,
#browser #appcontent #tabbrowser-tabbox tabpanels:-moz-lwtheme-brighttext {
	background: transparent !important;
}

#browser #appcontent #tabbrowser-tabbox findbar {
}

#browser #appcontent #tabbrowser-tabbox findbar:-moz-lwtheme-darktext,
#browser #appcontent #tabbrowser-tabbox findbar:-moz-lwtheme-brighttext {
	background-color: var(--bf-bg) !important;
}

.findbar-find-previous,
.findbar-find-next {
	margin: 0 !important;
	border: none !important;
}

#browser #appcontent #tabbrowser-tabbox .findbar-find-fast {
}

#browser #appcontent #tabbrowser-tabbox .findbar-find-fast:not([status="notfound"]):-moz-lwtheme-darktext,
#browser #appcontent #tabbrowser-tabbox .findbar-find-fast:not([status="notfound"]):-moz-lwtheme-brighttext {
	background-color: var(--bf-bg) !important;
}
